.btn-add{
    margin-left: 995px; 
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-add:hover {
    background-color: #0056b3; 
  }