.login-container {
  background-color: #007bff;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h2{text-align: center;}

.contenu {

  border: '3px solid #ccc'
}

.log {
  width: 300px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.login-button {
  background-color: #007bff;
  color: white;
  border: '3px solid #ffffff';
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}
