.entreprises {
    margin-left: 90px;
    margin-top: 30px;
  }
  
.nov {
    margin-top: 10px;
  }
  .App {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
    
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #0000ff;
    font-weight: bold;
  }
  
  .path{
    margin-left: 34px;
    
  }
  .customText {
    color: black;
    font-size: 15px;
    margin-left: 5px;
    text-decoration: none; 
  }
  
  