.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white; 
  color: #007bff; 
  
}
.logo img {
  max-width: 120px;
  height: auto; 
  margin-left: 20px;
 
}


.login {
  margin-bottom: -10px;
  margin-right: 20px;
  
}

.login i {
  font-size: 35px; 
  color: #007bff;
  margin-top: -50px; 
}
