.container {
  display: flex;
  align-items: flex-start;
}

.menuContainer {
  width: 340px;
  height: 850px;
  padding: 5px 20px;
  margin-left: -712px;
  background: #007bff;
  border-top-right-radius: 43px;
  
  
  
}
.contentContainer {
  padding: 5px 20px;
  width: 100%;
  margin-left: -18px;
}

