.card {
  margin: 30px;
}


.card-header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
}


.form-control {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-primary {
  color: #007bff;
  background-color: #fff;
  border-color: #007bff;
  font-size: 17px;
  
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}


h5 {
  color: #007bff;
  margin-top: 1.5rem;
}


.card-body > h5 {
  margin-top: 20px;
}
